---
- name: Retrive the list of devices with the same name as the provisioned
  uri:
    url: https://api.serverdensity.io/inventory/resources?token={{serverdensity_api_token}}&filter={"name":"{{ansible_hostname}}","type":"device"}&fields=["_id","name"]
    method: GET
    body_format: raw
  register: devices_with_same_hostname
  delegate: localhost


- set_fact:
    id_of_the_registered_device: "{{ devices_with_same_hostname.json.0._id}}"
  when: devices_with_same_hostname.json and devices_with_same_hostname.json|count == 1

- debug:
    msg: "Warning ==> There is no device registered with the same hostname"
  when: not devices_with_same_hostname.json

- debug:
    msg: "Warning ==> There are {{ devices_with_same_hostname.json | count}} devices registered with the same hostname"
  when:  devices_with_same_hostname.json and devices_with_same_hostname.json|count >1

- debug:
    msg: "{{ devices_with_same_hostname.json }}"
  when:  devices_with_same_hostname.json and devices_with_same_hostname.json|count >1


- debug:
    msg: "ID o the registered Device ==> {{id_of_the_registered_device}}"
  when:  id_of_the_registered_device is defined


- pause:
...
